form{
    text-align: center;
}
form input{
    box-sizing: border-box;
    padding: 8px;
    border-radius: 5px;
    width: 50%;
}


form button{
    padding: 8px;
    border-radius: 5px;
    margin: 16px;
    width: 35%;
}

.main-list{
    padding: 15px;
    overflow-y: scroll;
}

.main-schedule{
    padding: 15px;
    display: flex;
}

.text-center{
    text-align: center;
}
.upper{
    text-transform: uppercase;
}
.item-wrapper{
    padding: 15px;
    border-radius: 15px;
    outline: 1px solid white;
    margin: 0.75rem 0 0.75rem 0;
}

.hero{
    margin-top: auto;
    margin-bottom: 5px;
    text-align: center;
    height: 30%;
    background-position: center;
    padding: 1rem;
    background-repeat: no-repeat;
    filter: grayscale(0.4);
    display: grid;
  justify-content: center;
  align-content: center;
    backdrop-filter: blur(200px);
}
.hero h2{
    background-color: rgba(0,0,0,0.4);
    padding: 1rem;
}

/* schedules styling */
.table-elems{
    display: flex;
    flex-flow: column;
}
.elem{
    display: block;
    flex-basis: 3rem;
    outline: 1px solid white;
    padding: 1em;
    text-align: center;
}
.schedules{
    display: flex;
    flex: 1;
    position: relative;
    overflow-x: scroll;
}
.schedules-item{
    display: flex;
    flex-flow: column;
    flex:1;
    min-width: 22rem;
}
.table-header{
    text-transform: uppercase;
    outline: 1px dashed white;
}
/* articles page styling */
.article-list{
    display: flex;
    flex-wrap: wrap;
}
article{
    padding: 1rem;
    margin: 1rem 0 1rem 0;
}
.b-nav{
    display: flex;
    max-width: 100%;
    margin: auto;
}
.b-nav .nav-index{
    padding: 1rem;
    outline: 1px solid white;
}
.nav-index.active{
    background-color: white;
    color: black;
}

/* editing main css */
.container-content{
    display: flex;
    flex-flow: column;
}

@media (max-width: 868px) {
    .main-schedule{
        max-width: 30rem;
    }
  }